In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import calendar
from datetime import date
from datetime import datetime

%matplotlib inline

In [2]:
player_prof = pd.read_csv('../data/player-profiles.csv')
player_prof.head(2)

,Unnamed: 0,Event Name,Month,Year,EventRating,Place,Strokes,Cash,State,Country,Division,Tier,Tour,Event Date,Player Name
0,0,(DGPT Silver) The New World Championship prese...,Nov,2022,1029.0,6,181,900.0,Florida,USA,MPO,A,DGPT-Silver,2022-11-11,Ezra Aderhold
1,1,Knowledge Management presents the Lake Marshal...,Oct,2022,1028.0,6,199,1000.0,Virginia,USA,MPO,A,DGPT-Silver,2022-10-28,Ezra Aderhold

In [3]:
top_20 = player_prof[['Player Name', 'EventRating']]
top_20

         Player Name  EventRating
0      Ezra Aderhold       1029.0
1      Ezra Aderhold       1028.0
2      Ezra Aderhold       1005.0
3      Ezra Aderhold       1033.0
4      Ezra Aderhold       1026.0
...              ...          ...
26377  Ricky Wysocki        967.0
26378  Ricky Wysocki        965.0
26379  Ricky Wysocki        970.0
26380  Ricky Wysocki        991.0
26381  Ricky Wysocki        958.0

[26382 rows x 2 columns]

In [4]:
top_20 = top_20.groupby('Player Name', as_index=False)['EventRating'].mean()
top_20 = top_20.sort_values('EventRating', ascending=False)
top_20 = top_20.reset_index()
top_20.head(20)

    index         Player Name  EventRating
0      88         Paul McBeth  1039.736842
1      93       Ricky Wysocki  1034.947075
2      45         Gannon Buhr  1033.851064
3      66          Kyle Klein  1032.413333
4      62           Ken Climo  1031.456432
5      27     Chris Dickerson  1030.596610
6      39       Eagle McMahon  1029.005618
7      84      Nikko Locastro  1028.772936
8      99       Simon Lizotte  1028.319635
9      12       Barry Schultz  1025.807611
10     79           Nate Doss  1025.190299
11     19       Cale Leiviska  1024.566125
12     21  Cameron Colglazier  1024.232955
13     75           Matt Orum  1023.880259
14     20     Calvin Heimburg  1023.330275
15     81         Nate Sexton  1022.697368
16     35       Dave Feldberg  1022.285412
17     61         Josh Anthon  1021.957746
18    101          Steve Rico  1021.831754
19      3         Adam Hammes  1021.633094

In [5]:
top_20 = top_20.drop('index', axis=1)
top_20.head(1)

   Player Name  EventRating
0  Paul McBeth  1039.736842

In [6]:
top_20.head(20)

           Player Name  EventRating
0          Paul McBeth  1039.736842
1        Ricky Wysocki  1034.947075
2          Gannon Buhr  1033.851064
3           Kyle Klein  1032.413333
4            Ken Climo  1031.456432
5      Chris Dickerson  1030.596610
6        Eagle McMahon  1029.005618
7       Nikko Locastro  1028.772936
8        Simon Lizotte  1028.319635
9        Barry Schultz  1025.807611
10           Nate Doss  1025.190299
11       Cale Leiviska  1024.566125
12  Cameron Colglazier  1024.232955
13           Matt Orum  1023.880259
14     Calvin Heimburg  1023.330275
15         Nate Sexton  1022.697368
16       Dave Feldberg  1022.285412
17         Josh Anthon  1021.957746
18          Steve Rico  1021.831754
19         Adam Hammes  1021.633094

In [7]:
top_20.index = top_20.index + 1
top_20 = top_20.head(20)
top_20

           Player Name  EventRating
1          Paul McBeth  1039.736842
2        Ricky Wysocki  1034.947075
3          Gannon Buhr  1033.851064
4           Kyle Klein  1032.413333
5            Ken Climo  1031.456432
6      Chris Dickerson  1030.596610
7        Eagle McMahon  1029.005618
8       Nikko Locastro  1028.772936
9        Simon Lizotte  1028.319635
10       Barry Schultz  1025.807611
11           Nate Doss  1025.190299
12       Cale Leiviska  1024.566125
13  Cameron Colglazier  1024.232955
14           Matt Orum  1023.880259
15     Calvin Heimburg  1023.330275
16         Nate Sexton  1022.697368
17       Dave Feldberg  1022.285412
18         Josh Anthon  1021.957746
19          Steve Rico  1021.831754
20         Adam Hammes  1021.633094

In [8]:
top_20.tail(10)

           Player Name  EventRating
11           Nate Doss  1025.190299
12       Cale Leiviska  1024.566125
13  Cameron Colglazier  1024.232955
14           Matt Orum  1023.880259
15     Calvin Heimburg  1023.330275
16         Nate Sexton  1022.697368
17       Dave Feldberg  1022.285412
18         Josh Anthon  1021.957746
19          Steve Rico  1021.831754
20         Adam Hammes  1021.633094